// Apple SD Gothic Neo 폰트
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');

body {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  margin: 0px;
  overflow: hidden;
}
