@use '_variables' as var;

@mixin background($theme) {
  min-height: 100dvh;
  min-width: 100dvw;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('/background.png');
  background-color: if($theme == "dark", var.$primary-color, var.$secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@mixin text($theme) {
  color: if($theme == "dark", var.$secondary-color, var.$title-color);
  font-weight: bold;
}
