@use 'variables' as var;

@mixin background($theme) {
  background-color: if($theme == "dark", var.$primary-color, var.$secondary-color);
  min-height: 100dvh;
  min-width: 100dvw;
  background-size: cover;
  background-image: url('src/assets/background.png');
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text($theme) {
  color: if($theme == "dark", var.$secondary-color, var.$title-color);
  font-size: 6rem;
  color: #fff;
  font-weight: bold;
}
