$primary-color: #05A569;
$secondary-color: #F7F7F7;
$title-color: #2b2b2b;
$description-color: #AFB1C3;

// 다크테마
.dark-background {
  background-color: $primary-color;
}

.dark-text {
  color: $secondary-color;
}

// 라이트 테마
.light-background {
  background-color: $secondary-color;
}

.light-text {
  color: $title-color;
}

// Apple SD Gothic Neo 폰트
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');

body {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  margin: 0;
}
